<html>
  <head>
    <title>Simple Core API Permata Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="main">
      <h3>Payment Method</h3>
      <b>Number For Customer To Pay:</b> <br />
      Please transfer to Permata with account number:
      <b
        ><code>{{ permata_va_number }}</code></b
      >
      <br />
      <b>Amount:</b> <br />
      <code>Rp. {{ gross_amount }}</code> <br />
      <b>Order ID:</b> <br />
      <code> {{ order_id }}</code> <br />
      <br />
      <hr />
    </div>
  </body>
</html>
