.DS_Store
node_modules
dist/
project/
v8-compile-cache-0/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.py
*.py*
*.pyc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
