@import '~tachyons/css/tachyons.css';
@import '~bootstrap/dist/css/bootstrap.css';

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffc502; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e7b100; 
  }

.nav-content{
    background: #0065C2;
    z-index: 200;
    transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
}
li{
    margin: 10px;
}
.font-superhero{
    font-weight: 700;
    font-size: 45px;
    color: #ffc502;
}
.font-hero{
    font-weight: 700;
    font-size: 32px;
}
.font-subhero{
    font-weight: 700;
    font-size: 25px;
}
.font-title{
    font-size: 25px;
}
.font-secondary{
    font-weight: 500;
    font-size: 18px;
    color: #ffc502
}
.font-primary{
    font-size: 14px;
}
#font-pbtn{
    border-radius: 20px !important;
    min-width: 100px;
}
.font-smaller{
    font-size: 12px;
}
.btn-based{
    border-radius: 25px;
    color: white;
    text-decoration: none;
}
.btn-second{
    border-radius: 5px;
    height: 50px;
    width: 300px;
    margin: 30px;
    color: white;
    text-decoration: none;
    font-weight: 700
}
.btn-primary{
    background-color: #0065C2 !important
}
.btn-primary:hover{
    background-color: rgb(8, 85, 157) !important
}

/* =========================================================================== */

.hero {
    background:url('./assets/img/bghome.png') no-repeat center;
    min-height: 950px;
    background-color: rgba(255, 255, 255, 0.816);
    padding-top: 200px
}
.hero-part{
    padding: 100px;
}
.hero-paid{
    background: url('./assets/img/home-paid.png') no-repeat;
}
section{
    margin-top: 10vh
}
.home-image{
    min-width: 70%
}

.hero--button {
    color: #C7E87C;
}


/* =========================================================================== */

.usefull{
    min-height: 500px;
    margin-bottom: 150px
}
.cara{
    height: 10% !important;
}
.batch{
    height: 90% !important;
    padding-top: 50px;
}

/* =========================================================================== */
.footer{
    background: url('./assets/img/footer.png') no-repeat center;
    min-height: 450px;
    background-color: #ffffff
}
.part-foot{
    margin-top: 150px;
}

/* =========================================================================== */
.super-foot{
    min-height: 200px;
    max-height: 200px;
    background-color:#0E75D3
}

/* =========================================================================== */

.contact-person {
    background: #535461;
    height: 200px;
}

.copyright {
    background: #46474D;
    height: 80px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}


.feature2--title {
    font-style: normal;
    font-weight: 100;
    line-height: 64px;
    text-align: center;
    color: #C7E87C;
}

.dashboard--card {
    border: 2px solid #C7E87C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px;
}

.dashboard--search{
    border: 1px solid #4286B7;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

