@import '~tachyons/css/tachyons.css';
@import '~bootstrap/dist/css/bootstrap.css';

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 14px;
}

nav {
    background: #C7E87C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.hero {
    background: #4286B7;
    background:url('./assets/img/backgroundcetak.png') no-repeat center;
    height: 800px;
}

.header--button {
    color: #4286B7;
}

.hero--button {
    color: #C7E87C;
}

.contact-person {
    background: #535461;
    height: 200px;
}

.copyright {
    background: #46474D;
    height: 80px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.feature2 {
    background: #4286B7;
    height: 400px;
}

.feature2--title {
    font-style: normal;
    font-weight: 100;
    line-height: 64px;
    text-align: center;
    color: #C7E87C;
}

.dashboard--card {
    border: 2px solid #C7E87C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px;
}

.dashboard--search{
    border: 1px solid #4286B7;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

